$orange-color: #ff7426;
$fire-brick-color: #b11722;
$purple-color: #4d2c5e;
$dark-color: #050c26;
$dark-almond-color: #faeecd;
$floralwhite-color: #fdf8ee;
$whitesmoke-color: #f7f9fa;
$tomato-color: #ff6652;
$light-purple-color: #9c4df4;
$light-cream-color: #dedde4;
$wightcolor: #ffffff;
$primary-color: #007bff;
$secondary-color: #827a7a;
$success-color: #28a745;
$main-color: #29a354;
$black-color: #000000;
$red-color: #f01919;
$gray-color: #f9f7ff;
$wight-color: #ffffff;
$mainBlue-color: #0c0531;
$secondblack-color: #212121;
$second-gray-color: #c1c1c1;
$orange-color: #ff6f06;
$darkBlue-color: #002370;
$smoothGray-color: #6f6f6f;
$danger-color: #e52727;
$orangemain-color: #ffb234;
$regcolor: #44594d;
