<section class="freeLectures">
  <div class="layer4">
    <img src="assets/images/home/layer2.webp" alt="layer2">
</div>
<div class="container">
  <h1 class="double-1">
    <span class="m-1 course"> {{"LECTURES" |translate}}</span>
    <span class="complete"> {{"FREE" |translate}}</span>
  </h1>
  <div class="row parent-content">
    <h3 class="noLectures">{{"COMMING_SOON" |translate}}</h3>
    <div style="display: flex;justify-content:center ;margin-top: 4rem;">
      <a class="allLecturesBtn" href="https://elghandour-geology.com/grades/grade12">
        <i class="fa-solid fa-video"></i>
          <span>{{"ALL_LECTURES" |translate}}</span>
      </a>

  </div>
  </div>

</div>
</section>
