<section>
  <div class="container chat-container mat-elevation-z5">
    <div class="chat-list">
      <div class="search-box" style="background-color: rgb(213, 194, 231)">
        <div
          class="chat-title d-flex"
          style="justify-content: space-between; align-items: center"
        >
          <h1>{{ "CHATS" | translate }}</h1>
          <div class="d-flex">
            <a mat-icon-button (click)="openUserList()">
              <mat-icon>chat</mat-icon>
            </a>
            <img
              src="../../../assets/images/chatIcon.gif"
              alt="chat-logo"
              style="height: 48px; width: 48px"
            />
          </div>
        </div>
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input
            matInput
            placeholder="{{ 'CHATS_SEARCH' | translate }}"
            [formControl]="searchControl"
          />
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>
      <ng-container *ngIf="user$ | async as currentUser">
        <cdk-virtual-scroll-viewport itemSize="70" class="chat-list-viewport">
          <ul class="chat-list-items">
            <li
              class="chat-list-item"
              [class.selected]="chat.id === selectedChatId"
              *cdkVirtualFor="let chat of filteredChats$ | async"
              (click)="selectChat(chat.id)"
            >
              <img
                class="chat-avatar"
                [src]="
                  chat.chatPic
                    ? chat.chatPic
                    : '../../../assets/images/image.png'
                "
              />
              <div class="chat-info">
                <div class="chat-title">
                  <span class="chat-name">{{ chat.chatName }}</span>
                  <span class="chat-date" dir="ltr">{{
                    chat.lastMessageDate | date
                  }}</span>
                </div>
                <div class="chat-message">
                  {{ chat.lastMessage | slice : 0 : 33 }}
                </div>
                <span
                  class="unread-count"
                  *ngIf="
                    chat.unreadMessagesCount &&
                    chat.unreadMessagesCount[currentUser.uid] > 0
                  "
                >
                  {{ chat.unreadMessagesCount[currentUser.uid] }}
                </span>
              </div>
              <mat-divider></mat-divider>
            </li>
          </ul>
        </cdk-virtual-scroll-viewport>
      </ng-container>
    </div>
    <div class="messages">
      <ng-container
        *ngIf="selectedChat$ | async as selectedChat; else noChatSelected"
      >
        <div class="messages-header d-flex">
          <img
            [src]="
              selectedChat.chatPic
                ? selectedChat.chatPic
                : '../../../assets/images/image.png'
            "
            width="35"
            height="35"
            style="border-radius: 50%"
          />
          <h4>{{ selectedChat.chatName }}</h4>
        </div>
        <mat-divider></mat-divider>
        <div #chatContainer class="chat-area">
          <ng-container *ngIf="user$ | async as currentUser">
            <ng-container *ngIf="messages$ | async as messages">
              <div
                class="chat-bubble-container"
                [ngClass]="{ sender: message.senderId === currentUser.uid }"
                *ngFor="let message of messages"
              >
                <div
                  class="chat-bubble"
                  (contextmenu)="onRightClick($event, message)"
                >
                  <div
                    class="chat-message"
                    *ngIf="message.text"
                    style="font-size: 16px"
                  >
                    {{ message.text }}
                  </div>
                  <img
                    class="chat-message"
                    *ngIf="message.imageUrl"
                    [src]="message.imageUrl"
                    style="max-width: 100%; height: auto"
                  />
                  <div class="chat-time" dir="ltr">
                    <span *ngIf="message.edited" class="edited-badge"
                      >(edited)</span
                    >
                    {{ message.date | date }}
                  </div>
                  <button
                    class="reaction-button"
                    (click)="onReactionClick($event, message)"
                  >
                    <ng-container *ngIf="getTotalReactionsCount(message) > 1">
                      {{ getTotalReactionsCount(message) }}
                    </ng-container>
                    <ng-container
                      *ngIf="
                        getUserReactionSvgPaths(message).length > 0;
                        else defaultIcon
                      "
                    >
                      <ng-container
                        *ngFor="let svgPath of getUserReactionSvgPaths(message)"
                      >
                        <img
                          [src]="svgPath"
                          alt="reaction icon"
                          width="24"
                          height="24"
                        />
                      </ng-container>
                    </ng-container>
                    <ng-template #defaultIcon>
                      <i class="bx bx-smile"></i>
                    </ng-template>
                  </button>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div
          class="reaction-menu"
          [ngStyle]="reactionMenuStyle"
          *ngIf="showReactionMenu"
        >
          <ng-container *ngIf="selectedMessage">
            <span
              style="cursor: pointer; margin: 0 5px"
              *ngFor="let emoji of getAvailableReactions()"
              (click)="reactToMessage(selectedMessage, emoji.name)"
            >
              <img
                [src]="emoji.svgPath"
                alt="reaction icon"
                width="24"
                height="24"
              />
            </span>
          </ng-container>
        </div>
        <div
          class="context-menu"
          [ngStyle]="contextMenuStyle"
          *ngIf="showContextMenu"
        >
          <ng-container *ngIf="user$ | async as user">
            <button
              mat-menu-item
              *ngIf="canEditOrDelete(selectedMessage!, user.uid)"
              (click)="editMessage()"
            >
              {{ "EDIT" | translate }}
            </button>
            <button
              mat-menu-item
              *ngIf="canEditOrDelete(selectedMessage!, user.uid)"
              (click)="confirmDeleteMessage()"
            >
              {{ "DELETE" | translate }}
            </button>
          </ng-container>
        </div>
        <div class="input-area">
          <mat-form-field class="w-100 d-flex mat-form" appearance="outline">
            <input
              matInput
              placeholder="{{ 'WRITE_MESSAGE' | translate }}"
              [formControl]="messageControl"
              (keydown.enter)="sendMessage()"
              class="input-field"
            />
            <div matSuffix class="button-group">
              <ng-container *ngIf="isEditing">
                <button mat-icon-button (click)="clearEditing()">
                  <mat-icon>clear</mat-icon>
                </button>
                <button mat-icon-button (click)="doneEditing()">
                  <mat-icon>done</mat-icon>
                </button>
              </ng-container>
              <ng-container *ngIf="!isEditing">
                <button
                  mat-icon-button
                  (click)="toggleEmojiPicker($event)"
                  class="emoji-button"
                >
                  <mat-icon>insert_emoticon</mat-icon>
                </button>
                <button mat-icon-button (click)="selectImage()">
                  <mat-icon>upload</mat-icon>
                </button>
                <button mat-icon-button (click)="sendMessage()">
                  <mat-icon style="transform: rotate(180deg)">send</mat-icon>
                </button>
              </ng-container>
            </div>
            <input
              type="file"
              #imageInput
              style="display: none"
              (change)="uploadImage($event)"
            />
          </mat-form-field>
          <div *ngIf="showEmojiPicker" class="emoji-picker">
            <emoji-mart
              set="facebook"
              [darkMode]="false"
              [emojiSize]="30"
              (emojiClick)="addEmoji($event)"
              [style.display]="showEmojiPicker ? 'block' : 'none'"
              [style]="{ position: 'absolute', bottom: '85px', left: '20px' }"
            ></emoji-mart>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-template #noChatSelected>
    <app-splash-design></app-splash-design>
  </ng-template>
</section>
