<section>
  <div
    class="verify-email-container container mat-elevation-z5 p-5 col-12 col-md-6"
  >
    <h1>{{ "VERIFY_EMAIL" | translate }}</h1>
    <p>
      {{ "CHECK_EMAIL" | translate }}
    </p>

    <div class="text-center">
      <button
        class="col-12 col-xl-8 mt-3 p-2"
        mat-raised-button
        color="primary"
        (click)="resendVerificationEmail()"
      >
        {{ "VERIFY_EMAIL_RESEND" | translate }}
      </button>

      <button
        class="col-12 col-xl-8 mt-3 p-2"
        mat-raised-button
        color="accent"
        (click)="checkVerificationStatus()"
      >
        {{ "EMAIL_VERIFIED" | translate }}
      </button>
    </div>
  </div>
</section>
