<mat-dialog-content>
  <h1 mat-dialog-title>New Chat</h1>
  <!-- Search Bar -->
  <div>
    <mat-form-field
      appearance="outline"
      style="display: grid; place-items: center"
    >
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        placeholder="Search users"
        [formControl]="searchControl"
      />
    </mat-form-field>
    <!-- User List -->
    <mat-list>
      <mat-list-item
        *ngFor="let user of filteredUsers$ | async"
        (click)="selectUser(user)"
      >
        <img
          matListItemAvatar
          [src]="user.photoURL || '../../../assets/images/image.png'"
        />
        <p mat-line>{{ user.displayName }}</p>
      </mat-list-item>
    </mat-list>
  </div>
</mat-dialog-content>
