<footer class="footer-section">
  <div class="container">
      <div class="footer-cta pt-5 pb-5">
          <div class="row">
              <div class="col-lg-4 col-md-12 mb-4">
                  <div class="single-cta">
                      <i class="fas fa-map-marker-alt icon"></i>
                      <div class="cta-text">
                          <h4>{{"FIND_US" |translate}}</h4>
                          <span>1010 Avenue, sw 54321, chandigarh</span>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-12 mb-4">
                  <div class="single-cta">
                      <i class="fas fa-phone icon"></i>
                      <div class="cta-text">
                          <h4>{{"CALL_US" |translate}}</h4>
                          <span>9876543210 0</span>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-12 mb-4">
                  <div class="single-cta">
                      <i class="far fa-envelope-open icon"></i>
                      <div class="cta-text">
                          <h4>{{"MAIL_US" |translate}}</h4>
                          <span>mail@info.com</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <div class="copyright-area">
      <div class="container">
          <div class="row">
              <div class=" col-12 text-center text-lg-left">
                  <div class="copyright-text">
                      <p>{{"COPYRIGHT" |translate}} <a href="#">Saeed</a> 2024</p>
                  </div>
              </div>

          </div>
      </div>
  </div>
</footer>
